extends ../layout.jade

block content
  h1 Coletar tweets

  form(method="POST", action="/collect/new")
    .form-group
      label Palavras-chave separadas por vírgula
      button.btn.btn-primary.pull-right(type="submit") Coletar tweets
      input.form-control(type="text", name="keywords", placeholder="Ex.: dengue, febre", required)

  table.table
    thead
      tr
        th Status
        th Palavras-chave
        th Tweets coletados
        th Início
        th Última atualização
        th Ações
    tbody
      if !collectors || collectors.length == 0
        tr
          td(colspan="5") Nenhum coletor criado.
      else
        each collector in collectors
          tr
            td= collector.status == 1 ? 'Ativo' : 'Inativo'
            td #{collector.keywords}
            td= collector.count
            td= collector.created_at
            td= collector.updated_at
            td
              if collector.status == 1
                a(href="/collect/stop/#{collector._id}").btn Parar
              else
                a(href="/collect/resume/#{collector._id}").btn Continuar
              a(href="/collect/remove/#{collector._id}").btn.btn-danger Remover